<div class="container text-center">
  <h1>About Us</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community for
  developers, investors, entrepreneurs and students learning web development to meet. 
  Finding ways to connect developers and entrepreneurs with investment opportunities and
  students learning to code with professional developer mentors .</p><br>
  <hr>
</div>

<br>
<div class="container">
  <div class="row programmer-img">
    
    <div class="col-md-3 center-block">
      <a href="#" class="thumbnail img-responsive">
        <%= image_tag("programmerguy.jpg", :alt => "programmer guy") %>
      </a>
    </div>
    
    <div class="col-md-3 center-block">
      <a href="#" class="thumbnail img-responsive">
        <%= image_tag("programming.jpg", :alt => "programming") %>
      </a>
    </div>
    
    <div class="col-md-3 center-block">
      <a href="#" class="thumbnail img-responsive">
        <%= image_tag("programmerwoman.jpg", :alt => "programmer woman") %>
      </a>
    </div>
    
    <div class="col-md-3 center-block">
      <a href="#" class="thumbnail img-responsive">
        <%= image_tag("programmerpair.jpg", :alt => "programmer pair") %>
      </a>
    </div>
   
  </div>
   <hr>
</div>
