.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: white;
  h4 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #5bc85c;
  border-color: #4cae4c;
  opacity: 0.9;
}

.well.profile-contact {
  background-color: #00c5ff;
  border-color: #46b8da;
  opacity: 0.9;
}