<nav class="navbar navbar-default navbar-fixed-bottom text-center">
  <div class="container">
    <span class='footer'><i class='fa fa-copyright'></i> 2016 with <i class='fa fa-heart'></i> by Sandy Hogan</span>
  </div>
</nav>