<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="col-sm-12 text-center navbar-text">
        <span class='footer'><i class='fa fa-copyright'></i> 2016 Made with lots of <i class='fa fa-coffee'></i> and <i class='fa fa-heart'></i> by Sandy Hogan</span>
    </div>
  </div>
</nav>